<div fxLayout="column" fxFlex>

  <md-toolbar [hidden]="!loggedIn" color="primary">
    <button  md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>Book Store</span>

 <span class="spacer"></span>


  <div class="btn-toolbar">
  <div class="btn-group">


   
    <button  [disabled]="!loggedIn" md-mini-fab routerLink="/shoppingCart">
      <md-icon>shopping_cart</md-icon>
    </button>

        <button  [disabled]="!loggedIn" md-mini-fab (click)="openAddBookDialog()">
      <md-icon>add</md-icon>
    </button>

     <button  [disabled]="loggedIn" md-mini-fab routerLink="/myAccount">
      <md-icon>supervisor_account</md-icon>
    </button>

  </div>
</div>
  
    <span [hidden]="loggedIn"> <a md-button routerLink="/login">LogIn</a></span>   

    <span [hidden]="!loggedIn"> <a md-button (click)="logout()">Logout</a></span>  

    
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="over" #sidenav>
      <md-nav-list>
        <a md-list-item [href]="link.path" *ngFor="let link of links"> {{ link.name }} </a>
      </md-nav-list>
    </md-sidenav>
    <div class="content" fxLayout="column" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>

</div>




